.main {
  display: flex;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5rem;
  animation-delay: 0.3s;
  &-sidebar {
    transition: all 0.2s;
    // margin-inline-start: -20rem;
    position: sticky;
    top: 0;
    &.deactive {
      // margin-inline-start: 0;
      //transform: translateX(-1rem);
      flex: 0 0 80px;
      max-width: 80px;
      min-width: 80px;
      width: 80px;
    }
    &.active {
      flex: 0 0 200px;
      max-width: 200px;
      min-width: 200px;
      width: 200px;
      // margin-inline-start: 0;
      //transform: translateX(0);
    }
  }
  &-content {
    flex-grow: 1;
    background-color: #ededed;
  }
  .have_padding{
    padding: 1rem 2rem;
  }
  .backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
  }
}
